.panel.panel-default
  .panel-heading
    .panel-footer
      %h4= t(:all_comments)
  .panel-body
    - @comments.each do |comment|
      .row
        .col-md-6
          .col-md-2
            %h5= comment.author_name  
          .col-md-2
            %h5= comment.author_email
          .col-md-9
            = comment.content
        .col-md-6
          .btn-group.pull-right
            = link_to t(:show), comment_path(comment), class: "btn btn-default"
            = link_to t(:edit), edit_comment_path(comment), class: "btn btn-default"
            = link_to t(:destroy), [comment.target, comment] , method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"
      %br    