.panel.panel-default
  .panel-heading
    .panel-footer
      %h4 Comments:
  .panel-body
    - @comments.each do |comment|
      .row
        .col-md-6
          %p
            = comment.author_name  
          %p
            = comment.author_email
          %p
            = comment.content
        .col-md-6
          .btn-group.pull-right
            = link_to "Show", comment_path(comment), class: "btn btn-default"
            = link_to 'Edit', edit_comment_path(comment), class: "btn btn-default"
            = link_to 'Destroy', [comment.target, comment] , method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"
      %br    

     