= simple_form_for @video, html: { multipart: true } do |f| 
  = if @video.errors.any? 
    #errors
    %h3
      = "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
    %ul
      - @video.errors.full_messages.each do |msg|
        %li= msg  
  .form-group
    = f.input :title, input_html: {class: 'form_control'}
  .form-group
    = f.input :description, input_html: {class: 'form_control'}
  = f.button :submit, class: 'btn btn-primary' 