.col-md-3
  %h1= link_to t(:all_posts), posts_path
  %h3= link_to t(:new_post), new_post_path  
#posts.transitions-enabled
  .col-md-6
    - @posts.each do |post| 
      .box.panel.panel-default  
        - if post.picture
          = link_to (image_tag post.picture.data_url), post 
        %h2= link_to post.title, post_path(post) 
        .panel-footer
          .row
            = l post.created_at, format: :short
    %br

%br
.col-md-3
  %h1= link_to t(:all_events), events_path
  %h3= link_to t(:new_event), new_event_path
#events.transitions-enabled
  .col-md-6
    - @events.each do |event| 
      .box.panel.panel-default
        %h2= link_to event.title, event_path(event)
        .panel-footer
          .row
            = l event.created_at, format: :short
    %br

%h1= t(:tags_cloud)
%h3= link_to t(:create_tag), new_tag_path
.row
  .col-md-6.col-md-offset-3
    #tag_cloud
      - @articles.each do |article|
        = link_to article[:tag].name, tag_path(article[:tag]), class: "#{article[:css_class]}"