= simple_form_for @post, multipart: true do |f| 
  = if @post.errors.any? 
    #errors
    %h3
      = "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg 
  .form-group
    = f.simple_fields_for :picture do |p| 
      = p.input :data, label: "Picture"
  .form-group
    = f.input :title
  .form-group
    = f.input :content
  .form-group
    = f.label :tags
    = select_tag(:tag_ids,options_from_collection_for_select(@tags || [], :id, :name, :slug), multiple: true, class: 'form-control')
  .form-group
    = f.input :title_color, collection: ['blue', 'grey'],  multiple: true
  = f.button :submit, class: 'btn btn-default'