#posts.transitions-enabled
  - @posts.each do |post|  
    - cache([post, locale: I18n.locale]) do
      .box.panel.panel-default
        - if post.picture
          = link_to (image_tag post.picture.data_url), post
        %h2= link_to post.title, post_path(post), class: "#{post.title_color}"
        .panel-footer
          .row
            = l post.created_at, format: :short
%br
= paginate @posts, :theme => 'twitter-bootstrap',
                   :pagination_class => "pager"
